FLASK_ENV=development
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
DATABASE_URL=sqlite:///spaceapi.db
NASA_API_KEY=DEMO_KEY
NASA_BASE_URL=https://api.nasa.gov
EPIC_BASE_URL=https://api.nasa.gov/EPIC
